.elemek {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-evenly;
}

.zold {
    background-color: green;
    flex: 1;
}

.sarga {
    background-color: yellow;
    flex: 2;
}

.lila {
    background-color: purple;
    flex: 1;
}