* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.elemek {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header {
    height: 80vh;
    width: 40vw;
}

.cian {
    background-color: aqua;
}

.row {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sarga {
    background-color: orange;
}

.piros {
    background-color: red;
}

.lila {
    background-color: purple;
}

.kek {
    background-color: blue;

}

.fekete {
    background-color: black;
    width: 30px;
    height: 30px;
}

div.header > div:first-child, div.header > div:last-child {
    height: 15%;
    width: 100%;
}

div.row > div:nth-child(2){
    width: 60%;
    height: 100%;
}

div.row > div:first-child, div.row > div:last-child {
    height: 100%;
    width: 12%;
}